<!-- Contact -->
<section id="contact">
	<div class="inner">
		<section>
			<form action="https://formspree.io/{{ site.email }}" method="POST">
				<div class="field half first">
					<label for="name">Name</label>
					<input type="text" name="name" id="name" />
				</div>
				<div class="field half">
					<label for="email">Email</label>
					<input type="text" name="_replyto" id="email" />
				</div>
				<div class="field">
					<label for="message">Message</label>
					<textarea name="message" id="message" rows="6"></textarea>
				</div>
				<ul class="actions">
					<li><input type="submit" value="Send Message" class="special" /></li>
					<li><input type="reset" value="Clear" /></li>
				</ul>
			</form>
		</section>
		<section>

			<label style="padding-top: 4em;">Code & social</label>


			<ul class="icons">

				{% if site.behance_url %}
				<li><a href="{{ site.github_url }}" class="icon alt fa-behance" target="_blank"><span class="label">Behance</span></a></li>
				{% endif %}

				{% if site.bitbucket_url %}
				<li><a href="{{ site.googleplus_url }}" class="icon alt fa-bitbucket" target="_blank"><span class="label">Bitbucket</span></a></li>
				{% endif %}
				{% if site.github_url %}
				<li><a href="{{ site.github_url }}" class="icon alt fa-github" target="_blank"><span class="label">GitHub</span></a></li>
				{% endif %}

				{% if site.reddit_url %}
				<li><a href="{{ site.twitter_url }}" class="icon alt fa-reddit" target="_blank"><span class="label">Reddit</span></a></li>
				{% endif %}

				{% if site.linkedin_url %}
				<li><a href="{{ site.linkedin_url }}" class="icon alt fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
				{% endif %}

				{% if site.email %}
				<li><a href="{{ site.github_url }}" class="icon alt fa-envelope" target="_blank"><span class="label">Email</span></a></li>
				{% endif %}


				{% if site.twitter_url %}
				<li><a href="{{ site.twitter_url }}" class="icon alt fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
				{% endif %}
				{% if site.googleplus_url %}
				<li><a href="{{ site.googleplus_url }}" class="icon alt fa-google-plus" target="_blank"><span class="label">Google+</span></a></li>
				{% endif %}
				{% if site.facebook_url %}
				<li><a href="{{ site.facebook_url }}" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
				{% endif %}
				{% if site.instagram_url %}
				<li><a href="{{ site.instagram_url }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
				{% endif %}
				{% if site.pinterest_url %}
				<li><a href="{{ site.pinterest_url }}" class="icon alt fa-pinterest" target="_blank"><span class="label">Pinterest</span></a></li>
				{% endif %}
				{% if site.500px_url %}
				<li><a href="{{ site.500px_url }}" class="icon alt fa-500px" target="_blank"><span class="label">500px</span></a></li>
				{% endif %}
				{% if site.gitlab_url %}
				<li><a href="{{ site.gitlab_url }}" class="icon alt fa-gitlab" target="_blank"><span class="label">GitLab</span></a></li>
				{% endif %}

				{% if site.slack_url %}
				<li><a href="{{ site.slack_url }}" class="icon alt fa-slack" target="_blank"><span class="label">Slack</span></a></li>
				{% endif %}

			</ul>
		</section>
	</div>
</section>

<!-- Footer -->
	<footer id="footer">
		<div class="inner">

			<ul class="copyright">
				<li>&copy; 2016-2017 {{ site.title }} {{ site.subtitle }}</li>
			</ul>
		</div>
	</footer>

</div>

<!-- Scripts -->
	<script src="{{ "/assets/js/jquery.min.js" | absolute_url }}"></script>
	<script src="{{ "/assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
	<script src="{{ "/assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
	<script src="{{ "/assets/js/skel.min.js" | absolute_url }}"></script>
	<script src="{{ "/assets/js/util.js" | absolute_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "/assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "/assets/js/main.js" | absolute_url }}"></script>
