<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header" style="background: #fddc33" {% if page.layout == "landing" %} class="alt style2 bloodyheader"{% endif %}{% if page.layout == "home" %} class="alt bloodyheader"{% endif %}>
	<a href="{{ "" | absolute_url }}" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
        {% for page in site.pages %}
		    {% if page.layout == "home" %}
		        <li><a href="{{ "" | absolute_url }}">{{ page.title }}</a></li>
	    	{% endif %}
		{% endfor %}
		{% for page in site.pages %}
		    {% if page.layout != "home" %}
		        <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
		    {% endif %}
		{% endfor %}
	</ul>
	<ul class="actions vertical">
		<li><a href="#" class="button special fit">View portfolio</a></li>
		<li><a href="#" class="button fit">Contact us</a></li>
	</ul>
</nav>
