///
/// Forty by HTML5 UP
/// html5up.net | @ajlkn
/// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
///

/* Icon */

	.icon {
		@include icon;
		border-bottom: none;
		position: relative;

		> .label {
			display: none;
		}

		&.alt {
			&:before {
				background-color: _palette(bg-dark);
				border-radius: 100%;
				color: _palette(fg);
				display: inline-block;
				height: 2em;
				line-height: 2em;
				text-align: center;
				width: 2em;
			}
		}
	}

	a.icon {
		&.alt {
			&:before {
				@include vendor('transition', 'background-color #{_duration(transition)} ease-in-out');
			}

			&:hover {
				&:before {
					background-color: _palette(bg-alt);
				}
			}

			&:active {
				&:before {
					background-color: desaturate(darken(_palette(bg-alt), 15), 5);
				}
			}
		}
	}
