<!DOCTYPE html>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

{% include head.html %}

<body class="page">

    <div class="page-content">
      {% include header.html %} <h1>{{ page.title }}</h1>  {{ content }} {% include footer.html %}
    </div>

</body>

</html>
